.portfolio {
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative; 
}

.portfolio:hover {
  filter: brightness(0.5); 
}

.portfolio-content {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  z-index: 2; 
}

.portfolio-text {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}